@import "tailwindcss";

@theme {
  --color-emerald-500: #10b981;
  --color-zinc-950: #09090b;
}

/* Global Reset Optimization Matrices */
@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #09090b;
  }
}

/* Custom Utilities for Nesting Lists inside Console Box */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 9999px;
}
